<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
AuthUserFile /k-morita01/kei3/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user 
order deny,allow
